.header {
  position: fixed;
  width: 100%;
  height: auto;
  font-size: 20px;
  -webkit-box-shadow: 0px 0px 15px -3px #8e8e8e;
  box-shadow: 0px 0px 15px -3px #8e8e8e;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 0;
  left: 0;
  z-index: 5;
  background: white;
  font-family: "Pretendard", sans-serif;

  ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    li {
      a {
        text-decoration: none;
        color: #202020;
        &:hover {
          text-decoration: underline;
          font-weight: normal;
        }
      }
      .userinfo {
        position: relative;
        font-weight: bold;
        background: #202020;
        border: 6px #202020 solid;
        border-radius: 5px;
        color: white;
        font-size: 17px;
        &:hover {
          cursor: pointer;
          background: #2d2d2d;
          border: 6px #2d2d2d solid;
          color: #f1f1f1;
        }
      }
    }
  }
  .logo {
    width: 80px;
    height: auto;
  }
}

.status-great {
  position: relative;
  width: 100%;
  height: 450px;
  padding-top: 130px;
  background: rgb(255, 205, 27);
  background: linear-gradient(90deg, #e2f0d9 0%, #bdd7ee 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: #2f2f2f;
  font-family: "SB 어그로체", sans-serif;
  .status_info {
    flex-direction: column;
    justify-content: flex-start;
    .name {
      font-weight: normal;
      font-size: 35px;
      color: black;
      display: inline-block;
    }
    .time {
      font-weight: normal;
      font-size: 25px;
      color: black;
      display: inline-block;
    }
  }
  .title {
    font-size: 30px;
    font-weight: lighter;
  }
  h2 {
    font-size: 80px;
    font-weight: bolder;
    color: #2564ab;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 20px;
  }
}

.status-worse {
  position: absolute;
  width: 100%;
  height: 450px;
  padding-top: 130px;
  background: rgb(255, 205, 27);
  background: linear-gradient(90deg, #eee3bd 0%, #eec1bd 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  color: #2f2f2f;
  font-family: "SB 어그로체";
  font-weight: bold;
  .status_info {
    flex-direction: column;
    justify-content: flex-start;
    .name {
      font-weight: normal;
      font-size: 35px;
      color: black;
      display: inline-block;
    }
    .time {
      font-weight: normal;
      font-size: 25px;
      color: black;
      display: inline-block;
    }
  }
  .title {
    font-size: 30px;
    font-weight: lighter;
  }
  h2 {
    font-size: 80px;
    font-weight: bolder;
    color: #ffa654;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 20px;
  }
}

.status-normal {
  position: absolute;
  width: 100%;
  height: 450px;
  padding-top: 130px;
  background: rgb(248, 255, 212);
  background: linear-gradient(
    90deg,
    rgb(255, 251, 212) 0%,
    rgb(158, 248, 155) 100%
  );
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  color: #2f2f2f;
  font-family: "SB 어그로체";
  font-weight: bold;
  .status_info {
    flex-direction: column;
    justify-content: flex-start;
    .name {
      font-weight: normal;
      font-size: 35px;
      color: black;
      display: inline-block;
    }
    .time {
      font-weight: normal;
      font-size: 25px;
      color: black;
      display: inline-block;
    }
  }
  .title {
    font-size: 30px;
    font-weight: lighter;
  }
  h2 {
    font-size: 80px;
    font-weight: bolder;
    color: #139e43;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 20px;
  }
}

.status-nonEntered {
  position: absolute;
  width: 100%;
  height: 450px;
  padding-top: 130px;
  background: rgb(248, 255, 212);
  background: linear-gradient(
    90deg,
    rgb(214, 214, 214) 0%,
    rgb(105, 105, 105) 100%
  );
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  color: #2f2f2f;
  font-family: "SB 어그로체";
  font-weight: bold;
  .status_info {
    flex-direction: column;
    justify-content: flex-start;
    .name {
      font-weight: normal;
      font-size: 35px;
      color: black;
      display: inline-block;
    }
    .time {
      font-weight: normal;
      font-size: 25px;
      color: black;
      display: inline-block;
    }
  }
  .title {
    font-size: 30px;
    font-weight: lighter;
  }
  h2 {
    font-size: 80px;
    font-weight: bolder;
    color: #202020;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 20px;
  }
}

.description{
  position: relative;
  width: 100%;
  height: 650px;
  .title{
    color: rgba(88, 44, 255, 1);
    font-family: "SB 어그로체 L", sans-serif;
    font-weight: lighter;
    padding-top: 20px;
    text-align: center;
  }
.descriptionContainer {
  position: relative;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: white;

  div {
    h1{
      margin-left: 20px;
      font-family: "SB 어그로체", sans-serif;
    }
    h3{
      margin-left: 20px;
      font-family: "SB 어그로체", sans-serif;
    }
    p {
      margin-left: 20px;
      margin-right: 20px;
    }
    .descriptionImage{
      position: relative;
      width: 240px;
      height: 168px;
      border-radius: 5px;
    }
    font-family: "SB 어그로체 L", sans-serif;
    width: 240px;

    height: 550px;
    background: rgb(88, 44, 255);
    background: linear-gradient(180deg, rgba(88, 44, 255, 1) 0%, rgba(91, 143, 255, 1) 100%);
    border-radius: 5px;
    display: inline-block;
    -webkit-box-shadow: 0px 0px 12px 0px #CCCAFF;
    box-shadow: 0px 0px 12px 0px #CCCAFF;
  }
}
}


