@font-face {
  font-family: "SB 어그로체";
  font-display: fallback;

  src: url("./SB-어그로OTF-M.otf") format("opentype"),
    url("./SB-어그로OTF-M.woff") format("woff"),
    url("./SB-어그로OTF-M.eot?iefix") format("embedded-opentype");
}
@font-face {
  font-family: "SB 어그로체 L";
  font-display: fallback;

  src: url("./SB-어그로OTF-L.otf") format("opentype"),
    url("./SB-어그로OTF-L.woff") format("woff"),
    url("./SB-어그로OTF-L.eot?iefix") format("embedded-opentype");
}
@font-face {
  font-family: "SB 어그로체 B";
  font-display: fallback;

  src: url("./SB-어그로OTF-B.otf") format("opentype"),
    url("./SB-어그로OTF-B.woff") format("woff"),
    url("./SB-어그로OTF-B.eot?iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Pretendard";
  font-display: fallback;

  src: url("./Pretendard-Regular.ttf") format("truetype"),
  url("./Pretendard-Regular.woff") format("woff"),
  url("./Pretendard-Regular.eot?iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Pretendard-Bold";
  font-display: fallback;

  src: url("./Pretendard-Bold.ttf") format("truetype"),
  url("./Pretendard-Bold.woff") format("woff"),
  url("./Pretendard-Bold.eot?iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Pretendard-Black";
  font-display: fallback;

  src: url("./Pretendard-Black.ttf") format("truetype"),
  url("./Pretendard-Black.woff") format("woff"),
  url("./Pretendard-Black.eot?iefix") format("embedded-opentype");
}